/target/classes/Games/Game.class
/target/classes/Games/GameChoicer.class
/target/classes/Games/Hangman.class
/target/classes/Main.class
/target/test-classes/TestsForTicTacToe.class
/target/test-classes/TestsGameChoice.class
/target/classes/Games/TicTacToe.class
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
/target/classes/Games/Command.class
/target/classes/Games/ConsoleBotController.class
/target/classes/Games/Exit.class
/target/classes/Games/GameChoicer$1.class
/target/classes/Games/GameName.class
/target/classes/Games/Help.class
/target/classes/Games/Start.class
/target/classes/Games/ConsoleBotController$1.class
/target/classes/Games/OutputMessages.class
/target/classes/Games/PlayerAskAgainMenu.class
/target/classes/Command/Command.class
/target/classes/Menu/ConsoleBotController$1.class
/target/classes/Menu/ConsoleBotController.class
/target/classes/Command/Exit.class
/target/classes/Menu/GameChoicer$1.class
/target/classes/Menu/GameChoicer.class
/target/classes/Messeges/GameName.class
/target/classes/Command/Help.class
/target/classes/Messeges/OutputMessages.class
/target/classes/Messeges/PlayerAskAgainMenu.class
/target/classes/Command/Start.class
/.idea/libraries/Maven__junit_junit_4_13_2.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_0_0.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_7_0.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_4_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_7_0.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_7_0.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_4_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_7_0.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_1_1.xml
/.idea/modules.xml
/Tg_Bot.iml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_11_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_11_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_11_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_jaxrs_jackson_jaxrs_base_2_11_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_jaxrs_jackson_jaxrs_json_provider_2_11_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_jaxb_annotations_2_11_3.xml
/.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
/.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_3_4.xml
/.idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
/.idea/libraries/Maven__com_google_guava_guava_30_0_jre.xml
/.idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
/.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
/.idea/libraries/Maven__com_sun_activation_jakarta_activation_1_2_2.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_11.xml
/.idea/libraries/Maven__commons_io_commons_io_2_8_0.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_1.xml
/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
/.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_2_0_2.xml
/.idea/libraries/Maven__jakarta_ws_rs_jakarta_ws_rs_api_2_1_6.xml
/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_2.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_13.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_13.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpmime_4_5_13.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_2.xml
/.idea/libraries/Maven__org_checkerframework_checker_qual_3_5_0.xml
/.idea/libraries/Maven__org_glassfish_grizzly_grizzly_framework_2_4_4.xml
/.idea/libraries/Maven__org_glassfish_grizzly_grizzly_http_2_4_4.xml
/.idea/libraries/Maven__org_glassfish_grizzly_grizzly_http_server_2_4_4.xml
/.idea/libraries/Maven__org_glassfish_hk2_external_aopalliance_repackaged_2_6_1.xml
/.idea/libraries/Maven__org_glassfish_hk2_external_jakarta_inject_2_6_1.xml
/.idea/libraries/Maven__org_glassfish_hk2_hk2_api_2_6_1.xml
/.idea/libraries/Maven__org_glassfish_hk2_hk2_locator_2_6_1.xml
/.idea/libraries/Maven__org_glassfish_hk2_hk2_utils_2_6_1.xml
/.idea/libraries/Maven__org_glassfish_hk2_osgi_resource_locator_1_0_3.xml
/.idea/libraries/Maven__org_glassfish_jersey_containers_jersey_container_grizzly2_http_2_32.xml
/.idea/libraries/Maven__org_glassfish_jersey_core_jersey_client_2_32.xml
/.idea/libraries/Maven__org_glassfish_jersey_core_jersey_common_2_32.xml
/.idea/libraries/Maven__org_glassfish_jersey_core_jersey_server_2_32.xml
/.idea/libraries/Maven__org_glassfish_jersey_ext_jersey_entity_filtering_2_32.xml
/.idea/libraries/Maven__org_glassfish_jersey_inject_jersey_hk2_2_32.xml
/.idea/libraries/Maven__org_glassfish_jersey_media_jersey_media_jaxb_2_32.xml
/.idea/libraries/Maven__org_glassfish_jersey_media_jersey_media_json_jackson_2_32.xml
/.idea/libraries/Maven__org_javassist_javassist_3_25_0_GA.xml
/.idea/libraries/Maven__org_json_json_20180813.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_8_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_8_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_8_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_8_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_8_2.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_30.xml
/.idea/libraries/Maven__org_telegram_telegrambots_5_5_0.xml
/.idea/libraries/Maven__org_telegram_telegrambots_meta_5_5_0.xml
/target/classes/Games/BattleshipWar.class
/target/classes/bot/Bot.class
/src/main/java/bot/Bot.java
/target/classes/bot/Channel.class
